:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Center and style the h1 tag and divs*/
h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
  text-align: center;
}

/* Style all buttons */
button {
  width: 100px;
  padding: 5px;
  margin-top: 10px;
  color: black;
  border-radius: 8px;
}

/* Modify colours of each categories of buttons */
.home {
  background-color: rgb(255, 104, 104);
}

.weather-page, .cycle {
  background-color: skyblue;
}

.increment {
  background-color: green;
}

.decrement {
  background-color: red;
}

.registration-page {
  background-color: yellowgreen;
}

.submit {
  background-color: greenyellow;
}

/* Change colour of submit when hovered */
.submit:hover {
  background-color: green;
}

/* Change styling of p tag showing successful registration */
.user-submit {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
